<div class="container mt-6">
    <div class="container card" style="width: 18rem; margin-top: 15px;">
        <!-- <img [src]="rain" class="card-img-top" alt="..."> -->
        <img *ngIf="WeatherData.main.temp<290" [src]="sun">
        <img *ngIf="WeatherData.main.temp>290" [src]="rain">
        <div class="card-body">
          <h5 class="card-title">{{WeatherData.city}}</h5>
          <p class="card-text">{{WeatherData.weather[0].description}}</p>
            <p class="card-text">Temperature: {{WeatherData.main.temp}} F</p>
            <p class="card-text">Humidity: {{WeatherData.main.humidity}} %</p>
            <p class="card-text">Wind Speed: {{WeatherData.wind.speed}} m/s</p>
            <p class="card-text">Wind Direction: {{WeatherData.wind.deg}} °</p>
        </div>
      </div>
</div>
